.ContentTrending{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(187, 184, 184);
}
.ContentTrending-Container{
    margin: 0 auto;
    width: 80%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.ContentTrending-Container-item{
    /* border: 2px solid greenyellow; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ContentTrending-item{
    padding-top: 15px;
   display: flex;
    width: 29%;
    /* border: 2px solid black; */
}
.Number-Trending{
    width: 25%;
    /* border: 2px solid red; */
}
.Number-Trending p{
    font-size: 30px;
    color: rgb(197, 194, 194);
    font-weight: 700;
}
.Top-Poster{
  cursor: pointer;
  /* border: 2px solid greenyellow; */
   display: flex;
   margin: 10px 0 0 0;
} 
.Top-Poster img{
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
 .Top-Poster p{
   padding-left: 7px;
   font-size: 14px;
   font-weight: 500;
}
.Top-Post p {
  /* border: 2px solid greenyellow; */
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
}
.Top-Post span{
    font-size: 14px;
    color: rgb(139, 133, 133);
}






.loader-container{
    z-index: 1;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.loader:before, .loader:after {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-top-color: #ECD078;
    border-right-color: #C02942;
    border-bottom-color: #542437;
    border-left-color: #53777A;
    content: '';
    transform: translate(-50%, -50%);
    animation: rotate 1.5s  infinite ease-in-out;
  }
  .loader:before {
    border-width: 4vh;
  }
  .loader:after {
    width: 5vh;
    height: 5vh;
    border-width: 2vh;
    animation-direction: reverse;
  }
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }


@media only screen and (max-width: 660px){
    .ContentTrending-item{
        width: 45%;
    }
  
  }
  @media only screen and (max-width: 460px){
    .ContentTrending-item{
        width: 100%;
    }
  
  }