.RecommendedContent{
    width: 100%;
   /* border: 1px solid red; */
}
.RecommendedContent-Container{
    margin:0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    /* border: 1px solid black; */
}
.RecommendedContent-Container-Wrapper-Column{
    width: 60%;
}
.RecommendedContent-Container-Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    /* border: 1px solid black; */
}
.FindWord-Relative{
    width: 33%;
    /* border: 1px solid black; */
}
.FindWork{
    top: 80px;
    position: sticky;
    padding-top: 40px;
     /* border: 1px solid black; */
    width: 100%;
}
.Recommended-Content{
    width: 70%;
    /* border: 1px solid black; */
}





.Recommended-Content-item{
   display: flex;
    width: 100%;
    /* border: 2px solid black; */
}
.Recommended-Content-item-img-name{
    display: flex;
}

.Recommended-Content-item-img-name img{
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
 .Recommended-Content-item-img-name p{
   padding-left: 7px;
   font-size: 14px;
   font-weight: 500;
}





.Recommended-Post h4 {
    font-size: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 800;
}
.Recommended-Post p{
    padding-bottom: 8px;
    font-size: 14px;
}
.Recommended-Post span{
    font-size: 15px;
    color: rgb(139, 133, 133);
}


.RecommendedContent-Img{
    width: 30%;
   
}
.RecommendedContent-Img img{
    width: 90%;
    height: 140px;
}


.FindWork b{
    margin-left: 15px;
    font-size: 14px;
   }

 .Button-Findword{
   
     padding-top: 10px;
     display: flex;
     flex-wrap: wrap;
 }  
 .Button-Findword button{
    margin-left: 15px;
     margin-top: 10px;
     padding: 8px 15px;
     cursor: pointer;
     border-radius: 5px;
     
     border: 1px solid rgb(161, 158, 158);
 }
  .FindWork hr{
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
 }
 .FindWork ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  
 }
 .FindWork li{
  margin-left: 15px;
  line-height: 25px;
  cursor: pointer;
 }


 



     @media only screen and (max-width: 985px){
        .RecommendedContent-Container{
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
        }
        .RecommendedContent-Container-Wrapper-Column{
            margin: 0 auto;
            width: 80%;
        }
        .FindWork{
            width: 80%;
            margin: 0 auto;
           
        }
        .FindWord-Relative{
             border-bottom: 1px solid rgb(161, 158, 158);
            z-index: -1;
            margin: 0 auto;
            width: 100%;
            padding-bottom: 30px;
        }
        .FindWork ul{
            display: none;
        }
        .FindWork hr {
           display: none;
            margin-left: 0px;
            margin-top: 30px;
            margin-bottom: 30px;
         }
         .FindWork b{
             text-align: center;
         }
      
      }